DATABASE_HOST=localhost
DATABASE_USER=ap
DATABASE_PASSWORD=password
DATABASE_NAME=sampleDb
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

JWT_KEYID=00000000-0000-0000-0000-000000000000
APP_KEY=00000000-0000-0000-0000-000000000000
APP_DOMAIN=https://sample.com

DEVPORTAL_OIDC_URL=https://developer.blackboard.com/api/v1/gateway/oidcauth
DEVPORTAL_JWKS_URL=https://developer.blackboard.com/.well-known/jwks.json
DEVPORTAL_LTI_AUTH_URL=https://developer.blackboard.com/api/v1/gateway/oauth2/jwttoken
